<form action="">
    <div class="container margin-top">
        <div class="row " >
        <div class="col text-center login-div mt-4 p-2 border bg-light ">
            <h6 class="sign text-center">Sign Up</h6>
           <div> <input type="text" placeholder="Acno">

        </div>
        <div><input  type="text" placeholder="Username "class="mt-2 p-2"></div>
        <div><input type="text" placeholder="Enter Password" class="mt-2 p-2"></div>
        <div><input type="text" placeholder="Confirm Password" class="mt-2 p-2"></div>
        <div><button id="s" type="button"class="mt-2 p-2 text-center">Sign  Up</button></div></div>
        <div class="col">
            <img src="https://i.postimg.cc/Y0LKvk1S/banking1.gif" alt="">
        </div>
    </div>
    </div>
</form>