<div class="row container">
    <div class="col">
    <div id="profile" class="d1 w-50" >
        <button id="b1" type="submit" class="btn border mt-4 w-100" 
        data-bs-toggle="modal" data-bs-target="#exampleModal">View Profile<i class="fa-solid text-warning fa-user fa-beat"></i></button></div>
    <div id="balance"  class="d2 w-50" >
        <button id="b1" type="submit" class="btn border w-100" >Balance Enquiry<i class="fa-solid fa-sack-dollar text-warning  fa-beat"></i></button>
    </div>
    
    <div id="money" class= "d3 w-50 bg-light" >
        <button id="b1" type="submit" class=" btn border w-100">Money Transfer<i class="fa-solid text-warning fa-money-bill-transfer fa-beat"></i></button>
    </div>
    
    <div id="statement" class="d4 w-50" >
        <button id="b1" type="submit" class="btn border w-100">Account Statement<i class="fa-regular text-warning fa-file-lines"></i></button>
    </div>
    
    <div id="log-out" class="d5 w-50" >

        <button id="b1" type="submit" class="btn border w-100">Logout<i class="fa-solid text-warning fa-person-walking-arrow-right fa-beat"></i></button>
    </div>
    
    <div id="delete" class="d6 w-50">

        <button id="b1" type="submit " class="btn border w-100">Delete Account<i class="fa-solid text-warning fa-trash-can"></i></button>
    </div>
    
    
    

</div>

<div class="col">
    <h4>Enjoy Net Banking with <strong id="b" class="text-warning ms-3">SBI</strong></h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Facilis, veritatis reprehenderit sit harum quod nemo, facere dolor vitae nulla adipisci 
        nostrum ducimus architecto illum error cumque corrupti, itaque porro dignissimos?</p>
    <img src="https://i.postimg.cc/zXvDgZ0N/bnk.gif" width="100%" height="300px" style="display: flex;">
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" 
aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="https://i.postimg.cc/jSkfDQ34/pro.jpg" alt="">
        <div>
          <h1>hi "username"</h1>
         <p class="mt-5"> your current balance in account number 1234 is</p>
          <h3  style="color:blue" class="mt-4">Balance 0000</h3>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>